{% extends 'base.html' %}
{% block title %}Account{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="jumbotron mt-5">
              <h1 class="display-4">My Account</h1>
              {% if request.user.is_authenticated %}
              <h2 class="font-weight-light">Welcome! {{name}}</h2>
              <p class="text-success">You Have Following Scrap Files</p>
              {% for filename in main_data %}
              <p class="text-info">{{filename}}</p>
              {% endfor %}
              <div class="row justify-content-md-center">
              <form action="/logout">
                  <button class="mt-3 col-md-12 btn btn-lg btn-danger btn-block " type="submit">Logout</button>
              </form>
              </div>
              {% else %}
               <h3 class="font-weight-light text-danger">Please Login First</h3>
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
